.ProductList_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.ProductList_title {
  margin-bottom: 1rem;
}

.ProductList_row {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: min(2rem, 2vw);
  width: 100%;

  > span,
  input {
    color: var(--fg);
    width: 12rem;
    max-width: 20vw;
    text-align: center;
    font-weight: 300;
    font-size: 1rem;
  }

  .ProductList_discount {
    width: 6rem;
    max-width: 10vw;
  }
  .ProductList_discount > input {
    width: 6rem;
    max-width: 10vw;
  }
}

.ProductList_formWrapper {
  display: flex;
  align-items: center;
  position: relative;
  left: min(2rem, 2vw);
}

.ProductList_addButton {
  margin-left: min(2rem, 2vw);
  width: 2rem;
  height: 2rem;
}

.ProductList_body {
  margin-top: 2rem;
  height: 20rem;
  overflow: visible;
  overflow-y: scroll;
  position: relative;
  left: min(2rem, 2vw);
  padding: 0 1rem;
}

.ProductList_item {
  position: relative;
  display: flex;
  align-items: center;

  > .ProductList_row {
    margin: 1rem 0;
    padding-bottom: 1rem;
    border-bottom: 1px solid var(--fg-subtle);

    span:nth-child(1) {
      font-weight: 400;
    }
  }

  &:hover {
    > .ProductList_removeButton {
      animation: show 0.3s 0.2s forwards;
    }
  }
}

.ProductList_removeButton {
  opacity: 0;
  visibility: hidden;
  margin-left: min(2rem, 2vw);
  width: 2rem;
  height: 2rem;
}

@keyframes show {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

.ProductList_noProducts {
  margin-top: 2rem;
  font-size: 1rem;
  font-weight: 400;
  color: var(--fg);
}
