.ProductList_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.ProductList_row {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  width: 100%;

  > span,
  input {
    width: 12rem;
    text-align: center;
    font-weight: 300;
    font-size: 1rem;
  }

  > span {
    text-decoration: underline;
  }
}

.ProductList_addButton {
  position: absolute;
  right: 0;
  width: 2rem;
  height: 2rem;
}

.ProductList_body {
}
