.BillList_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.BillList_userForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.BillList_title {
  margin: 5rem 0 2rem;
}

.BillList_noBills {
  margin-top: 1rem;
}

.BillList_list {
  overflow-y: auto;
  height: 50rem;
  width: min(50rem, 90vw);
}

.BillList_item {
  display: flex;
  align-items: center;

  margin: 1.5rem 0;
  padding: 0 min(3rem, 2vw);
  padding-bottom: 1rem;
  border-bottom: 1px solid black;
  gap: 2rem;

  font-weight: 300;

  span:nth-child(1) {
    font-weight: 400;
  }

  > * {
    text-align: center;
    width: 20rem;
  }
}

.BillList_downloadButton {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
