.Button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0.4rem 0.9rem;
  cursor: pointer;

  border-radius: 3px;
  color: var(--white1);

  transition: all 0.15s;

  span {
    font-size: 0.9rem;
  }
  svg {
    font-size: 1rem;
  }
}

.NormalButton {
  @extend .Button;
  background-color: var(--bg);
  color: var(--fg);
  border: 1px solid var(--fg);

  &:hover {
    background-color: var(--bg-subtle);
  }
}

.AcceptButton {
  @extend .Button;
  background-color: var(--green);
  color: var(--bg);
}

.DangerButton {
  @extend .Button;
  background-color: var(--red);
  color: var(--bg);
}
