.Button {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding: 0.4rem 0.9rem;
  cursor: pointer;

  border-radius: 3px;
  color: var(--white1);

  transition: all 0.15s;

  span {
    font-size: 0.9rem;
  }
  svg {
    font-size: 1rem;
  }
}

.NormalButton {
  @extend .Button;
  background-color: white;
  color: black;
  border: 1px solid black;

  &:hover {
    background-color: #dedede;
  }
}

.AcceptButton {
  @extend .Button;
  background-color: #5da53e;
  color: var(--white1);
}

.DangerButton {
  @extend .Button;
  background-color: #d9534f;
  color: var(--white1);
}
