.Navbar_container {
  width: 100%;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;

  background-color: var(--black1);
}

.Navbar_title {
  display: flex;
  align-items: center;
  gap: 1rem;

  font-size: 1.5rem;
  font-weight: 600;
  color: var(--white1);
}
