.Input_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.2rem;

  &[data-is_selected="false"] {
    > .Input_label {
      color: var(--fg-subtle);
    }
    > .Input_input {
      color: var(--fg-subtle);
      border-color: var(--fg-subtle);
    }
    > .Input_select {
      color: var(--fg-subtle);
      border-color: var(--fg-subtle);
    }
  }

  &[data-is_selected="true"] {
    > .Input_label {
      color: var(--fg);
    }
    > .Input_input {
      color: var(--fg);
      border-color: var(--fg);
    }
    > .Input_select {
      color: var(--fg);
      border-color: var(--fg);
    }
  }
}

.Input_label {
  font-size: 0.8rem;
  font-weight: 400;
  transition: all 0.2s;
}

.Input_input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid;
  background-color: var(--bg);
  transition: all 0.2s;
}

.Input_select {
  width: 100%;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid;
  background-color: var(--bg);
  transition: all 0.2s;
}
