.Input_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.2rem;

  &[data-is_selected="false"] {
    > .Input_label {
      color: #707070;
    }
    > .Input_input {
      border-color: #70707049;
    }
    > .Input_select {
      border-color: #70707049;
    }
  }

  &[data-is_selected="true"] {
    > .Input_label {
      color: #000000;
    }
    > .Input_input {
      border-color: #000000;
    }
    > .Input_select {
      border-color: #000000;
    }
  }
}

.Input_label {
  font-size: 0.8rem;
  font-weight: 400;
  transition: all 0.2s;
}

.Input_input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid;
  transition: all 0.2s;
}

.Input_select {
  width: 100%;
  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid;
  background-color: #ffffff;
  transition: all 0.2s;
}
