@import "~/src/styles/builders.scss";

.Home_container {
  min-height: 100vh;
  width: 90vw;
  max-width: 1500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 8rem;
}

.Home_titleContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.Home_title {
  user-select: none;
  z-index: 1;
  margin-top: 3rem;

  font-size: 3.7rem;
  letter-spacing: 0.07rem;
  font-weight: 500;
  color: #171717;
  @include stroke(9, #ffffff);
}

.Home_waveContainer {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}

.Home_slideSelectorContainer {
  margin-top: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Home_slideSectionTitle {
  overflow: hidden;
  position: relative;
  padding: 1rem 0;
  text-align: center;
  width: 20rem;
  cursor: pointer;

  > span {
    white-space: nowrap;
    transition: all 0.3s ease-in-out;
    font-size: 1.4rem;
    font-weight: 300;
    color: #707070;

    &[data-is_selected="true"] {
      color: #000000;
    }
    &[data-is_selected="false"] {
      color: #707070;
    }
  }
}

.Home_slideSectionLine {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: #171717;
}

// Slide content

.Home_slideContentWrapper {
  margin-top: 4rem;
  overflow-x: hidden;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.Home_slideSectionContent {
  position: relative;
  width: 100%;
  overflow-y: hidden;
}
