.BillGenerator_importFile {
  margin: 0 auto;
  font-size: 0.8rem;
}

.BillGenerator_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 4rem;
  margin-top: 2rem;
}

.BillGenerator_generalForm {
  display: flex;
  flex-direction: column;
  min-width: 18rem;
  width: 35%;
  gap: 1.2rem;
}

.BillGenerator_productList {
  width: 70%;
  height: 100%;
}

.BillGenerator_pdfConfiguration {
  width: 70%;
  height: 100%;
}

.BillGenerator_generateButton {
  width: 9rem;
  height: 2.5rem;
  overflow: hidden;

  > div {
    position: relative;
    display: flex;
    align-items: center;
  }
}

.BillGenerator_loadingLoop {
  animation: loadingLoop 1.2s linear infinite;
}

@keyframes loadingLoop {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.BillGenerator_exportButton {
  margin-top: -2rem;
  span, svg {
    font-size: 0.8rem;
  }
}
