.BillGenerator_importFile {
  margin: 0 auto;
  font-size: 0.8rem;
}

.BillGenerator_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 4rem;
  padding: 0 5vw;
  margin-top: 2rem;
}

.BillGenerator_generalForm {
  display: flex;
  flex-direction: column;
  min-width: 18rem;
  width: 35%;
  gap: 1.2rem;
}

.BillGenerator_productList {
  width: 70%;
  height: 100%;
}

.BillGenerator_pdfConfiguration {
  width: 70%;
  height: 100%;
}

.BillGenerator_generateButton {
  width: 9rem;
  height: 3rem;
}

.BillGenerator_billPdfContainer {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
}
