.BillGenerator_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 4rem;
  padding: 0 5rem;
}

.BillGenerator_generalForm {
  display: flex;
  flex-direction: column;
  // align-items: center;
  width: 40%;
  gap: 1.2rem;
}

.BillGenerator_productList {
  width: 70%;
  height: 100%;
}

.BillGenerator_generateButton {
  width: 9rem;
  height: 3rem;
}
